*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Мои изменения */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-areas:
  "result details";
  gap: 30px;
  width: 1200px;
  padding: 0 30px;
  align-items: end;
}

.result {
  grid-area: result;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
}

.search-form__textfield {
  background-color: transparent;
  color: #ffffff;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  appearance: none;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset:has(:focus-visible) {
  /* outline: 20px solid #fff; Обработка наведением табом (не сделал) */
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  background-color: #fff;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox:checked {

}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 5px;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-content: start;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
}

.button {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  padding: 6px 73.5px;
  align-self: end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #FFF;
}